parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:filter\\(\\)\\.$#"
			count: 1
			path: app/Repositories/User/UserRepository.php
